{
  "openapi": "3.0.0",
  "info": {
    "title": "Stripe Connect (proof fixture)",
    "version": "2024-06-20",
    "description": "Trimmed local fixture for Relay content-engine proof. Not the full Stripe OpenAPI. Derived from public Stripe API shapes for Accounts and Account Links."
  },
  "servers": [
    {"url": "https://api.stripe.com"}
  ],
  "security": [{"bearerAuth": []}],
  "paths": {
    "/v1/accounts": {
      "post": {
        "operationId": "PostAccounts",
        "summary": "Create a connected account",
        "tags": ["Connect"],
        "parameters": [
          {
            "name": "Stripe-Version",
            "in": "header",
            "required": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["express", "standard", "custom"],
                    "description": "Connected account type"
                  },
                  "country": {"type": "string", "description": "Two-letter country code"},
                  "email": {"type": "string", "format": "email"},
                  "capabilities[card_payments][requested]": {"type": "boolean"},
                  "capabilities[transfers][requested]": {"type": "boolean"}
                },
                "required": ["type", "country"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Account"}
              }
            }
          },
          "400": {"description": "Invalid request"},
          "401": {"description": "Unauthorized — missing or invalid platform secret key"}
        }
      },
      "get": {
        "operationId": "GetAccounts",
        "summary": "List connected accounts",
        "tags": ["Connect"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {"type": "integer", "maximum": 100}
          }
        ],
        "responses": {
          "200": {"description": "List of accounts"},
          "401": {"description": "Unauthorized"}
        }
      }
    },
    "/v1/accounts/{account}": {
      "get": {
        "operationId": "GetAccountsAccount",
        "summary": "Retrieve a connected account",
        "tags": ["Connect"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "description": "Account id (acct_...)"}
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Account"}
              }
            }
          },
          "404": {"description": "Account not found"},
          "401": {"description": "Unauthorized"}
        }
      }
    },
    "/v1/account_links": {
      "post": {
        "operationId": "PostAccountLinks",
        "summary": "Create an Account Link for onboarding",
        "tags": ["Connect"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "Connected account id"
                  },
                  "refresh_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL if the link expires"
                  },
                  "return_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL after onboarding"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["account_onboarding", "account_update"],
                    "description": "Link purpose"
                  }
                },
                "required": ["account", "refresh_url", "return_url", "type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account Link created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AccountLink"}
              }
            }
          },
          "400": {"description": "Invalid parameters"},
          "401": {"description": "Unauthorized"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Platform secret key (sk_test_... in test mode)"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string", "enum": ["account"]},
          "type": {"type": "string"},
          "country": {"type": "string"},
          "email": {"type": "string"},
          "charges_enabled": {"type": "boolean"},
          "payouts_enabled": {"type": "boolean"},
          "details_submitted": {"type": "boolean"}
        }
      },
      "AccountLink": {
        "type": "object",
        "properties": {
          "object": {"type": "string", "enum": ["account_link"]},
          "created": {"type": "integer"},
          "expires_at": {"type": "integer"},
          "url": {"type": "string", "format": "uri"}
        }
      }
    }
  }
}
